html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

html, body {
	height: 100%;
	background-color: #f4f7fc;
	overflow: hidden;
}

html, #__nuxt {
	min-height: 100%;
}

html, #__layout {
	min-height: 100vh;
	height: 100%;
} 

html, #guest {
	min-height: 100vh;
	height: 100%;
}

.is-clipped {
	overflow: auto !important;
}

.content h1:not(:first-child) {
	margin: 0;
}

.dropdown-content {
	padding-bottom: 0;
}

.content figure:not(:last-child) {
	margin-bottom: 0;
}

.icon {
	color: #14355C;
}